.hero {
    padding: 6rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-content {
    flex: 2;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border: 5px solid white;
}