<section class="hero" id="about">
  <div class="container" style="display: flex;">
    <div class="hero-content">
      <h1 class="title">Hi, I'm <span style="color: var(--primary);">Grady Liu</span></h1>
      <p class="subtitle">Senior Web Developer - Taipei City, Taiwan</p>
      <p>
        I have over 7 years of experience in web application development, with a strong focus on front-end technologies. I'm well-versed in building web apps from the ground up and truly enjoy the process, especially when facing challenges that push me to learn and grow. One of my favorite sayings is: "What you learn easily, you forget easily too. But if you explore and struggle on your own, you master the technique better."
      </p>
      <div style="margin-top: 2rem;">
        <a href="#contact" class="btn">Get In Touch</a>
        <a href="/assets/CVs/Grady_Resume_202504.pdf" class="btn btn-outline" download="Grady_Resume.pdf">Download CV</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="/assets/images/grady.jpeg" alt="Your Profile" class="profile-img">
    </div>
  </div>
</section>