<section id="experience">
  <div class="container">
    <h2 class="section-title">Experience</h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-content">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2023/01 - Present</div>
          <h3>Senior Software Engineer</h3>
          <p>Webcomm</p>
          <p style="text-align: left;">
            As a Senior Software Engineer, I am responsible for developing and maintaining the CDP (Customer Data Platform) system. My role involves collaborating with cross-functional teams to design and implement new features, as well as optimizing existing ones. I also mentor junior developers and contribute to code reviews to ensure high-quality standards.
          </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2021/05 - 2023/01</div>
          <h3>Software Engineer (Fullstack) </h3>
          <p>Wistron</p>
          <p>
            I was responsible for frontend development using React, Redux, and the Ant Design component library, ensuring high-performance and responsive web applications. On the FlyingWheel project, I focused on workbook functionality and optimized performance by effectively using React Hooks such as useMemo and useCallback in combination with WebSocket APIs. I also assisted team members with writing Jest unit tests and enhancing overall site performance. In addition to frontend tasks, I developed SQL Server stored procedures for the BOM management platform to generate daily customer reports, ensuring accurate and timely data delivery.
          </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2017/07 - 2021/05</div>
          <h3>Software Engineer (Fullstack)</h3>
          <p>ISchool</p>
          <p>Developed the Hualien Education web application based on UI designs and specifications,
            using Angular with Material Design for the frontend, Node.js with Express for the backend,
            and PostgreSQL for the database. Managed the deployed runtime instance with PM2.</p>
        </div>
      </div>
    </div>
  </div>
</section>