.timeline {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: var(--border);
    left: calc(50% - 1px);
    top: 0;
}

.timeline-item {
    margin-bottom: 3rem;
    position: relative;
    display: flex;
}

.timeline-item:nth-child(odd) {
    justify-content: flex-end;
}

.timeline-item:nth-child(odd) .timeline-content {
    // text-align: right;
    padding-left: 3rem;
}

.timeline-item:nth-child(even) .timeline-content {
    text-align: left;
    padding-left: 3rem;
}

.timeline-content {
    width: 50%;
    position: relative;
}

.timeline-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary);
    top: 5px;
}

.timeline-item:nth-child(odd) .timeline-dot {
    left: -10px;
}

.timeline-item:nth-child(even) .timeline-dot {
    left: -10px;
}

.timeline-date {
    font-size: 0.875rem;
    color: var(--gray);
    margin-bottom: 0.5rem;
}