<section style="background-color: white;">
  <div class="container">
    <h2 class="section-title">Skills</h2>
    <div class="skills">
      <div class="skill-tag">Angular</div>
      <div class="skill-tag">React</div>
      <div class="skill-tag">Sass</div>
      <div class="skill-tag">Jasmine</div>
      <div class="skill-tag">karma</div>
      <div class="skill-tag">Selenium</div>
      <div class="skill-tag">Redux</div>
      <div class="skill-tag">NgRx</div>
      <div class="skill-tag">Webpack</div>
      <div class="skill-tag">TypeScript</div>
      <div class="skill-tag">JavaScript</div>

      <div class="skill-tag">NodeJs</div>
      <div class="skill-tag">Express.js</div>
      <div class="skill-tag">Koa.js</div>
      <div class="skill-tag">pm2</div>

      <div class="skill-tag">.Net Core</div>
      <div class="skill-tag">Java</div>
      <div class="skill-tag">Spring Boot</div>

      <div class="skill-tag">MSSQL</div>
      <div class="skill-tag">PostgreSQL</div>
      <div class="skill-tag">MongoDB</div>
      <div class="skill-tag">Redis</div>

      <div class="skill-tag">Airflow</div>

      <div class="skill-tag">Jenkins</div>
      <div class="skill-tag">Docker</div>
      <div class="skill-tag">Kubernetes</div>

      <div class="skill-tag">GCP</div>
      <div class="skill-tag">Azure</div>
      <div class="skill-tag">Red Hat OpenShift</div>
    </div>
  </div>
</section>