<section id="achievements">
  <div class="container">
    <h2 class="section-title">Key Achievements</h2>
    <div class="achievements">
      <div class="achievement-card">
        <img src="/assets/images/angular_senior_certification.webp" alt="Certified Senior Angular Developer" class="achievement-img">
        <div class="achievement-content">
          <h3 class="achievement-title">Certified Senior Angular Developer</h3>
          <span class="achievement-date">March 29th 2025</span>
          <p>
            Earning this certification was truly challenging. Even with 5 years of Angular experience, I had to put in significant study time to prepare. After two attempts, I finally passed the exam. I was nervous going in, but I’m proud to have achieved this milestone.
          </p>
        </div>
      </div>
      <div class="achievement-card">
        <img src="/assets/images/angular_mid_certification.webp" alt="Certified Mid-Level Angular Developer" class="achievement-img">
        <div class="achievement-content">
          <h3 class="achievement-title">Certified Mid-Level Angular Developer</h3>
          <span class="achievement-date">March 11th 2025</span>
          <p>Recently, my project faced the challenge of upgrading Angular versions. Taking this opportunity, I decided to pursue this certification as a way to deepen my understanding of the latest Angular features.</p>
        </div>
      </div>
      <div class="achievement-card">
        <img src="/assets/images/docker_mastery.jpg" alt="Docker Mastery" class="achievement-img">
        <div class="achievement-content">
          <h3 class="achievement-title">Docker Mastery: with Kubernetes +Swarm</h3>
          <span class="achievement-date">June 11th 2022</span>
          <p>
            This course was a game-changer for me. I learned how to build and deploy applications using Docker and Kubernetes. The hands-on projects were particularly beneficial, allowing me to apply what I learned in real-world scenarios.
          </p>
        </div>
      </div>
      <div class="achievement-card">
        <img src="/assets/images/AZ_900.jpg" alt="AZ-900" class="achievement-img">
        <div class="achievement-content">
          <h3 class="achievement-title">AZ-900: Microsoft Azure Fundamentals Exam Prep</h3>
          <span class="achievement-date">July 9th 2022</span>
          <p>
            This course provided a solid foundation in Azure. I learned about cloud concepts, core Azure services, and security. The hands-on labs were particularly useful for understanding how to navigate the Azure portal and deploy resources.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>