<header>
  <div class="container">
    <nav>
      <div class="logo">Grady Liu</div>
      <div class="nav-links">
        <a href="#about">About</a>
        <a href="#achievements">Achievements</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
      </div>
    </nav>
  </div>
</header>

<section class="hero" id="about">
  <div class="container" style="display: flex;">
    <div class="hero-content">
      <h1 class="title">Hi, I'm <span style="color: var(--primary);">Grady Liu</span></h1>
      <p class="subtitle">Senior Web Developer - Taipei City, Taiwan</p>
      <p>
        I have over 7 years of experience in web application development, with a strong focus on front-end technologies. I'm well-versed in building web apps from the ground up and truly enjoy the process, especially when facing challenges that push me to learn and grow. One of my favorite sayings is: "What you learn easily, you forget easily too. But if you explore and struggle on your own, you master the technique better."
      </p>
      <div style="margin-top: 2rem;">
        <a href="#contact" class="btn">Get In Touch</a>
        <a href="/assets/CVs/Grady_Resume_202504.pdf" class="btn btn-outline" download="Grady_Resume.pdf">Download CV</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="/assets/images/grady.jpeg" alt="Your Profile" class="profile-img">
    </div>
  </div>
</section>

<section id="achievements">
  <div class="container">
    <h2 class="section-title">Key Achievements</h2>
    <div class="achievements">
      <div class="achievement-card">
        <img src="/assets/images/angular_senior_certification.webp" alt="Certified Senior Angular Developer" class="achievement-img">
        <div class="achievement-content">
          <h3 class="achievement-title">Certified Senior Angular Developer</h3>
          <span class="achievement-date">March 29th 2025</span>
          <p>
            Earning this certification was truly challenging. Even with 5 years of Angular experience, I had to put in significant study time to prepare. After two attempts, I finally passed the exam. I was nervous going in, but I’m proud to have achieved this milestone.
          </p>
        </div>
      </div>
      <div class="achievement-card">
        <img src="/assets/images/angular_mid_certification.webp" alt="Certified Mid-Level Angular Developer" class="achievement-img">
        <div class="achievement-content">
          <h3 class="achievement-title">Certified Mid-Level Angular Developer</h3>
          <span class="achievement-date">March 11th 2025</span>
          <p>Recently, my project faced the challenge of upgrading Angular versions. Taking this opportunity, I decided to pursue this certification as a way to deepen my understanding of the latest Angular features.</p>
        </div>
      </div>
      <div class="achievement-card">
        <img src="/assets/images/docker_mastery.jpg" alt="Docker Mastery" class="achievement-img">
        <div class="achievement-content">
          <h3 class="achievement-title">Docker Mastery: with Kubernetes +Swarm</h3>
          <span class="achievement-date">June 11th 2022</span>
          <p>
            This course was a game-changer for me. I learned how to build and deploy applications using Docker and Kubernetes. The hands-on projects were particularly beneficial, allowing me to apply what I learned in real-world scenarios.
          </p>
        </div>
      </div>
      <div class="achievement-card">
        <img src="/assets/images/AZ_900.jpg" alt="AZ-900" class="achievement-img">
        <div class="achievement-content">
          <h3 class="achievement-title">AZ-900: Microsoft Azure Fundamentals Exam Prep</h3>
          <span class="achievement-date">July 9th 2022</span>
          <p>
            This course provided a solid foundation in Azure. I learned about cloud concepts, core Azure services, and security. The hands-on labs were particularly useful for understanding how to navigate the Azure portal and deploy resources.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-color: white;">
  <div class="container">
    <h2 class="section-title">Skills</h2>
    <div class="skills">
      <div class="skill-tag">Angular</div>
      <div class="skill-tag">React</div>
      <div class="skill-tag">Sass</div>
      <div class="skill-tag">Jasmine</div>
      <div class="skill-tag">karma</div>
      <div class="skill-tag">Selenium</div>
      <div class="skill-tag">Redux</div>
      <div class="skill-tag">NgRx</div>
      <div class="skill-tag">Webpack</div>
      <div class="skill-tag">TypeScript</div>
      <div class="skill-tag">JavaScript</div>

      <div class="skill-tag">NodeJs</div>
      <div class="skill-tag">Express.js</div>
      <div class="skill-tag">Koa.js</div>
      <div class="skill-tag">pm2</div>

      <div class="skill-tag">.Net Core</div>
      <div class="skill-tag">Java</div>
      <div class="skill-tag">Spring Boot</div>

      <div class="skill-tag">MSSQL</div>
      <div class="skill-tag">PostgreSQL</div>
      <div class="skill-tag">MongoDB</div>
      <div class="skill-tag">Redis</div>

      <div class="skill-tag">Airflow</div>

      <div class="skill-tag">Jenkins</div>
      <div class="skill-tag">Docker</div>
      <div class="skill-tag">Kubernetes</div>

      <div class="skill-tag">GCP</div>
      <div class="skill-tag">Azure</div>
      <div class="skill-tag">Red Hat OpenShift</div>
    </div>
  </div>
</section>

<section id="experience">
  <div class="container">
    <h2 class="section-title">Experience</h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-content">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2023/01 - Present</div>
          <h3>Senior Software Engineer</h3>
          <p>Webcomm</p>
          <p style="text-align: left;">
            As a Senior Software Engineer, I am responsible for developing and maintaining the CDP (Customer Data Platform) system. My role involves collaborating with cross-functional teams to design and implement new features, as well as optimizing existing ones. I also mentor junior developers and contribute to code reviews to ensure high-quality standards.
          </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2021/05 - 2023/01</div>
          <h3>Software Engineer (Fullstack) </h3>
          <p>Wistron</p>
          <p>
            I was responsible for frontend development using React, Redux, and the Ant Design component library, ensuring high-performance and responsive web applications. On the FlyingWheel project, I focused on workbook functionality and optimized performance by effectively using React Hooks such as useMemo and useCallback in combination with WebSocket APIs. I also assisted team members with writing Jest unit tests and enhancing overall site performance. In addition to frontend tasks, I developed SQL Server stored procedures for the BOM management platform to generate daily customer reports, ensuring accurate and timely data delivery.
          </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2017/07 - 2021/05</div>
          <h3>Software Engineer (Fullstack)</h3>
          <p>ISchool</p>
          <p>Developed the Hualien Education web application based on UI designs and specifications,
            using Angular with Material Design for the frontend, Node.js with Express for the backend,
            and PostgreSQL for the database. Managed the deployed runtime instance with PM2.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="projects" style="background-color: white;">
  <div class="container">
    <h2 class="section-title">Featured Projects</h2>
    <div class="projects">
      <div class="project-card">
        <img src="/assets/images/blog.png" alt="Project 1" class="project-img">
        <div class="project-content">
          <h3 class="project-title">Blog</h3>
          <p class="project-description">
            This blog began in January 2024 as a space to share my learning journey and experiences in web development. 
            It's built with Angular and Angular Material, featuring a responsive design, Firebase Authentication, and a rich text editor for creating posts. 
            Without a traditional backend, it uses Firebase Realtime Database to store content and is fully hosted on Firebase.
          </p>
          <div class="project-links">
            <a href="https://grady-blog.web.app/" class="project-link">View Project</a>
          </div>
        </div>
      </div>
      <!--  <div class="project-card">
        <img src="/api/placeholder/400/200" alt="Project 2" class="project-img">
        <div class="project-content">
          <h3 class="project-title">Project Title 2</h3>
          <p class="project-description">Description of your project including the technologies used, your role, and the
            impact it had.</p>
          <div class="project-links">
            <a href="#" class="project-link">View Project</a>
            <a href="#" class="project-link">Source Code</a>
          </div>
        </div>
      </div>
      <div class="project-card">
        <img src="/api/placeholder/400/200" alt="Project 3" class="project-img">
        <div class="project-content">
          <h3 class="project-title">Project Title 3</h3>
          <p class="project-description">Description of your project including the technologies used, your role, and the
            impact it had.</p>
          <div class="project-links">
            <a href="#" class="project-link">View Project</a>
            <a href="#" class="project-link">Source Code</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<section id="contact" class="contact">
  <div class="container">
    <h2 class="section-title">Get In Touch</h2>
    <div class="contact-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" required>
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" id="subject" required>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" required></textarea>
      </div>
      <button type="submit">Send Message</button>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="social-links">
      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/grady-liu" class="social-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
      </a>
      <!-- GitHub -->
      <a href="https://github.com/grady982" class="social-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
          </path>
        </svg>
      </a>
    </div>
    <p>&copy; 2025 Grady Liu. All Rights Reserved.</p>
  </div>
</footer>