<section id="projects" style="background-color: white;">
  <div class="container">
    <h2 class="section-title">Featured Projects</h2>
    <div class="projects">
      <div class="project-card">
        <img src="/assets/images/blog.png" alt="Project 1" class="project-img">
        <div class="project-content">
          <h3 class="project-title">Blog</h3>
          <p class="project-description">
            This blog began in January 2024 as a space to share my learning journey and experiences in web development. 
            It's built with Angular and Angular Material, featuring a responsive design, Firebase Authentication, and a rich text editor for creating posts. 
            Without a traditional backend, it uses Firebase Realtime Database to store content and is fully hosted on Firebase.
          </p>
          <div class="project-links">
            <a href="https://grady-blog.web.app/" class="project-link">View Project</a>
          </div>
        </div>
      </div>
      <!--  <div class="project-card">
        <img src="/api/placeholder/400/200" alt="Project 2" class="project-img">
        <div class="project-content">
          <h3 class="project-title">Project Title 2</h3>
          <p class="project-description">Description of your project including the technologies used, your role, and the
            impact it had.</p>
          <div class="project-links">
            <a href="#" class="project-link">View Project</a>
            <a href="#" class="project-link">Source Code</a>
          </div>
        </div>
      </div>
      <div class="project-card">
        <img src="/api/placeholder/400/200" alt="Project 3" class="project-img">
        <div class="project-content">
          <h3 class="project-title">Project Title 3</h3>
          <p class="project-description">Description of your project including the technologies used, your role, and the
            impact it had.</p>
          <div class="project-links">
            <a href="#" class="project-link">View Project</a>
            <a href="#" class="project-link">Source Code</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>