.hero {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 6rem 0;
    margin-top: 60px;

    .container {
        display: flex;
    }

    .left {
        flex: 2;

        .title {
            font-size: 3rem;
            margin-bottom: 1rem;
            line-height: 1.2;

            span {
                color: var(--primary);
            }
        }

        .subtitle {
            font-size: 1.25rem;
            color: var(--gray);
            margin-bottom: 2rem;
        }

        .btnGroup {
            display: flex;
            margin-top: 2rem;
        }
    }

    .right {
        flex: 1;
        display: flex;
        justify-content: center;

        .profile-img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
            border: 5px solid white;
        }
    }

    @media (max-width: 768px) {
        margin-top: 25px;
        padding: 6rem 32px 4rem 32px;

        .container {
            flex-direction: column;
            gap: 1rem;
        }

        .left {
            order: 2;

            .title {
                font-size: 2rem;
                margin-bottom: 0;
            }

            .subtitle {
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }
        }

        .right {
            order: 1;
        }
    }

    @media (max-width: 428px) {
        padding: 6rem 0 3rem 0;
    }
}